<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>코드 질문 게시판</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/titleStyle.css">

    <style>

        .is-hidden {
            display: none !important;
        }

        * {
            font-family: 'Nanum Gothic', sans-serif;
        }

    </style>

    <script
            src="https://kit.fontawesome.com/a991ae6b9e.js"
            crossorigin="anonymous"
    ></script>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script>

        function question() {
            let cookie = document.cookie;
            if (cookie == 0) {
                alert("로그인하세요")
            } else {
                window.location.href = '/write'
            }
        }

        $(document).ready(function login() {
            $('#login_out').empty()
            let cookie = document.cookie;
            if (cookie == 0) {
                let temp_html = `<button class='login-out' onclick="location.href='/login'">로그인</button>`
                $('#btn').append(temp_html)
            } else {
                let temp_html = `<button class='login-out' onclick="logout()">로그아웃</button>`
                $('#btn').append(temp_html)
            }
        });

        function logout() {
            $.removeCookie('mytoken', {path: '/'})
            alert('로그아웃!')
            window.location.href = "/login"
        }
    </script>
</head>
<body>
<nav id="aside-nav">
    <div>
        <h1>code_how( )</h1>
        <h2>- Code QnA Board -</h2>
    </div>
    <ul class="category">
        <li>
            <button type="button" id="html-css" onclick="location.href='/html_CSS'">HTML / CSS</button>
        </li>
        <li>
            <button type="button" id="js" onclick="location.href='/Javascript'">Java Script</button>
        </li>
        <li>
            <button type="button" id="py" onclick="location.href='/Python'">Python</button>
        </li>
    </ul>
    <button type="button" id="write-btn" onclick="question()">질문하기</button>
    <div class="bot-btn">
        <div id="btn"></div>
        <div class="bot-btn page-btn">
            <button type="button" id="home-btn" onclick="location.href='/';"><i
                    class="fa-sharp fa-solid fa-house"></i></button>
            <button type="button" id="back-btn" onclick="window.history.back()"><i
                    class="fa-solid fa-arrow-left"></i></button>
        </div>
    </div>
</nav>
</body>
</html>