<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>코드 질문 게시판</title>

    <link rel="stylesheet" href="/static/css/titleStyle.css">

    <style>
        .button.is-sparta {
            background-color: royalblue;
            border-color: transparent;
            color: #fff !important;
        }

        .button.is-sparta.is-outlined {
            background-color: transparent;
            border-color: royalblue;
            color: royalblue !important;
        }

        .help {
            color: gray;
        }

        .is-hidden {
            display: none !important;
        }
    </style>

    <script
            src="https://kit.fontawesome.com/a991ae6b9e.js"
            crossorigin="anonymous"
    ></script>


    <!-- html 같은 부분 링크 위한 jquery 스크립트 -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#headers").load("header.html");  // 원하는 파일 경로를 삽입하면 된다

        });
    </script>


    <script>
        // {% if msg %}
        //     alert("{{ msg }}")
        // {% endif %}
        function sign_in() {
            let username = $("#input-username").val()
            let password = $("#input-password").val()

            if (username == "") {
                $("#help-id-login").text("아이디를 입력해주세요.")
                $("#input-username").focus()
                return;
            } else {
                $("#help-id-login").text("")
            }

            if (password == "") {
                $("#help-password-login").text("비밀번호를 입력해주세요.")
                $("#input-password").focus()
                return;
            } else {
                $("#help-password-login").text("")
            }
            $.ajax({
                type: "POST",
                url: "/sign_in",
                data: {
                    username_give: username,
                    password_give: password
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        $.cookie('mytoken', response['token'], {path: '/'});
                        window.location.replace("/")
                    } else {
                        alert(response['msg'])
                    }
                }
            });
        }


        function toggle_sign_up() {
            $("#login-btn").toggleClass("is-hidden")
            $("#logout-btn").toggleClass("is-hidden")
            $("#div-sign-in-or-up").toggleClass("is-hidden")
            $("#help-id").toggleClass("is-hidden")
            $("#help-password").toggleClass("is-hidden")
        }

        0

        function sign_out() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = "/login"
        }


    </script>
</head>
<body>
<div id="wrap">
    <div id="headers"></div>

    <main>
        <div>hi</div>
    </main>
</div>
</body>
</html>